<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Spring Batch and Excel</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <div class="conatiner">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <h2>Excel Files</h2>
                    <a th:href="@{/students/upload-excel}" class="btn btn-primary btn-sm mb-2">Add Student by Batch</a>
                    <div th:if="${!#strings.isEmpty(message)}" th:remove="tag">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <span th:text="${message}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Date Uploaded</th>
                            <th scope="col">Imported</th>
                            <th scope="col">Date Imported</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <div th:if="!${#lists.isEmpty(spreadsheets)}" th:remove="tag">
                                <tr th:each="spreadsheet : ${spreadsheets}">
                                    <td th:text="${spreadsheet.name}"></td>
                                    <td th:text="${spreadsheet.uploadedAt}"></td>
                                    <td><span class="badge badge-success" th:if="${spreadsheet.importedAt}" th:text="Done"></span></td>
                                    <td th:text="${spreadsheet.importedAt}"></td>
                                    <td>
                                        <form th:action="@{/students/import}" method="post">
                                            <input type="hidden" th:value="${spreadsheet.name}" name="fileName">
                                            <button type="submit" class="btn btn-primary btn-sm" th:if="${spreadsheet.importedAt == null}" th:text="Import">Iport</button>
                                            <button type="submit" class="btn btn-primary btn-sm" th:if="${spreadsheet.importedAt}" th:attr="disabled=disabled" th:text="Import">Import</button>
                                        </form>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>